
<h1>Random Passcode Generator</h1>
<h2>You have made @ViewBag.Count Passcodes</h2><br>
<h2>Here is your new one</h2><br>
<h2>@ViewBag.RandomPasscode</h2><br>
<form asp-action="Index" asp-controller = "Home" method = "Get">
    <input value="Generate a Random Passcode" type="submit">  
</form>